.title{
    text-align: center;
    color:black;
}
.piebtn{
    background-color: aliceblue;
    border:none;
    border-radius: 0.3rem;
    margin:0.5rem 2rem;
    padding:0.5rem;
    color:black;
    cursor:pointer;
    transition: all 0.2s;
}
.piebtn:hover{
    background-color:black;
    color:white;
}